@import "../../scss/variables.scss";

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 6vmin;
  min-height: 3rem;
  max-height: 4rem;
  padding: 0 $horizontal-spacing;
  color: $secondary-color;
  background-color: $background-color;
  z-index: 1;
}

.Header-title {
  flex: 1;
  padding: 1vmin 0;
  font-size: 1.25em;
}

.Header_style_hero {
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  background-color: $background-color;
  background: linear-gradient($background-color 95%, transparent);
  .Header-title {
    text-align: center;
    font-size: 10vmin;
    width: 100%;
    padding-top: calc(50vh - 5.5vmin);
  }
}

.Header-link {
  display: flex;
  align-items: center;
  font-size: 0.875em;
  margin: 0 0 0 1rem;
  padding: 0.5rem 1rem;
  border-bottom: thin solid;
  border-color: transparent;
  transition: $medium-transition;
}

.Header-link:hover {
  border-color: $accent-color;
}

.Header-MenuDrawer-toggle-button {
  background-color: inherit;
  outline: none;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  cursor: pointer;
  border: none;
}

.hide-for-medium {
  display: none;
}

@media screen and (max-width: $small-view) {
  .Header-title {
    font-size: 1em;
  }
  .Header-link:hover {
    border-color: transparent;
  }
  .show-for-medium {
    display: none;
  }
  .hide-for-medium {
    display: initial;
  }
}
