@import "../../scss/variables.scss";

.Header {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 6vmin;
  min-height: 3rem;
  max-height: 4rem;
  padding: 0 $horizontal-spacing;
  color: $secondary-color;
  background-color: $background-color;
  z-index: 1;
}

.Header-title {
  flex: 1;
  font-size: 1.25em;
  padding: 1vmin 0;
}

.Header_style_hero {
  position: relative;
  min-height: 70vmin;
  .Header-title {
    text-align: center;
    font-size: 10vmin;
    width: 100%;
    padding-top: 30vmin;
  }
}

.Header-link {
  display: flex;
  align-items: center;
  font-size: 0.875em;
  margin: 0 0 0 1rem;
  padding: 0.5rem 1rem;
  border-bottom: thin solid;
  border-color: transparent;
  transition: $medium-transition;
}

.Header-link:hover {
  border-color: $accent-color;
}
