$primary-color: #61dafb;
$secondary-color: #282c34;
$accent-color: #f7588c;
$background-color: #f5f5f5;
$text-color: #000000;

$horizontal-spacing: 4vmin;

$light-shadow: rgba(0, 0, 0, 0.02) 0px 1px 1px -1px,
  rgba(0, 0, 0, 0.01) 0px 1px 2px 0px, rgba(0, 0, 0, 0.08) 0px 1px 3px 0px;

$medium-transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
$long-transition: all cubic-bezier(0.4, 0, 0.2, 1) 450ms;

$small-view: 767px;
